.row.mt-3
    .col-8.bg-light.rounded-3.px-4.py-4.mx-auto
        %h2 Publicar Vaga
        = simple_form_for @position do |f|
            .row.row-cols-lg-auto
                .col
                    = f.input :name, input_html: { class: 'mb-3' }
                    = f.input :career, as: :select, collection: @careers, label_method: :second, value_method: :first, include_blank: false, selected: @position.career, input_html: { class: 'mb-3' }
                    = f.input :contract, as: :select, collection: @contracts, label_method: :second, value_method: :first, include_blank: false, selected: @position.contract, input_html: { class: 'mb-3' }
                    = f.input :remote, input_html: { class: 'mb-3' }
                    = f.input :publish, input_html: { class: 'mb-3' }
                    %hr
                    = f.submit "Criar vaga", class: "btn btn-primary text-white"
                .col
                    = f.input :city, input_html: { class: 'mb-3' }
                    = f.input :state, input_html: { class: 'mb-3' }
                    = f.input :summary, input_html: { class: 'mb-3' }
                    = f.input :description, input_html: { class: 'mb-3' } 
        
