%h2.mt-4 Minhas Vagas

.row 
    .col-9
        %table.table
            %thead.thead-dark
                %tr
                    %th Titulo
                    %th Carreira
                    %th Local
                    %th Tipo de contrato
                    %th Candidaturas
                    %th Ações
            %tbody
                - @positions.each do |position|
                    %tr
                        %td 
                            = position.name
                        %td
                            = career_name(position.career)
                        %td
                            = modality(position) # aplicar helper
                        %td 
                            = contract_name(position.contract)
                        %td 1(ver detalhes)
                        %td 
                            = link_to "Editar", edit_position_path(position)