.cont-index.mt-3.bg-light.pt-3
  %h2= "#{@position.name} - #{@position.company.name}"
  %p= "#{career_name(@position.career)} - #{@position.city} / #{modality(@position)}, #{@position.state} - #{contract_name(@position.contract)}"

  = @position.description

  %br 
  %h6 Compartilhar:
  = render partial: 'shared/social_network', locals: {position: @position}

  .wrapper-form-applicant 
    - if user_signed_in?
      %p= "Insira suas informações abaixo para se candidatar à vaga de #{@position.name}"
      = render 'applicants/form'
    - else
      %p Você precisa estar logado para se candidatar