= simple_form_for @applicant, remote: (request.format.symbol == :js) ? true : false do |f|
  = f.hidden_field :position_id, value: @position.id
  = f.input :name
  %br
  = f.input :email, input_html: {value: current_user.email}
  %br
  = f.input :phone
  = f.label :resume, class: 'mt-3 mb-2'
  = f.input :resume, as: :file, label: false
  = f.hint 'Apenas arquivos PDF'
  %br
  = f.submit 'Aplicar vaga', class: 'btn btn-primary mt-3'
