.mt-4.bg-light.py-3.rounded-3.px-3
  %h3= "Candidaturas da vaga: #{@position.name}"
  %br
  .row 
    .col-12
      %table.table
        %thead.thead-dark
          %tr
            %th Nome
            %th E-mail
            %th Telefone
            %th Curriculo
            %th Ações
        %tbody
          - @applicants.each do |applicant|
            %tr
              %td= applicant.name
              %td= applicant.email
              %td= applicant.phone
              %td= link_to 'Download', rails_blob_path(applicant.resume, disposition: "attachment"), class: 'btn btn-sm btn-outline-primary'
              %td= link_to 'Exportar CSV', position_applicants_path(@position, format: 'csv'), class: 'btn btn-sm btn-secondary'
                  