.container
  .row
    .col-lg-10.col-xl-9.mx-auto
      .card.flex-row.my-5.border-0.shadow.rounded-3.overflow-hidden.heig
        .card-img-left.d-none.d-md-flex
        .card-body.p-4.p-sm-5
          %h5.card-title.text-center.mb-5.fw-light.fs-5 Trocar senha
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :put }) do |f|
            - render "devise/shared/error_messages", resource: resource 
            = f.input :reset_password_token, as: :hidden
            .form-floating.mb-3
              = f.password_field :password, required: true, class: "form-control", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }, placeholder: "Password"                                   
              %label{:for => "floatingPassword"} Nova senha
            .form-floating.mb-3
              = f.password_field :password_confirmation, required: true, class: "form-control", input_html: { autocomplete: "new-password" }, placeholder: "Password"                                   
              %label{:for => "floatingPassword"} Confirmar nova senha
            .d-grid.mb-2
              = f.submit "Alterar", class: "btn btn-sm btn-secondary btn-login py-2 fw-bold"
            %hr.my-4
            .container.mt-3.d-flex.justify-content-evenly
              = render "devise/shared/links"
