!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OpenVagas
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.back-body
    = render 'shared/topbar'
    - if flash[:suc].present? || flash[:err].present?
      = render 'shared/flash_messages'
    - else
      = toastr_flash 
    %main.container
      = yield
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", "data-bs-backdrop" => "static", "data-bs-keyboard" => "false", :tabindex => "-1"}
      .modal-dialog
        .modal-content
            